@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
/*Para Importar las 2 fuentes  */
:root{
    --color-primario:#D6EFD8;
    --color-secundario: #80AF81;
    --color-terciario:#508D4E;
    --color-cuarto:#1A5319;

    --fuente-monserrate:'Montserrat', sans-serif;;
    --fuente-krona:'krona one', sans-serif;

}

* {
    padding: 0;
    margin:0;
}

body{
    box-sizing: border-box;
    background-color: var(--color-primario);
    color: var(--color-secundario);
}
.header{
    padding: 2% 0% 0% 15%
}

.header__Navegador{
    display:flex;
    gap: 80px;
}

.header__Navegador__link{
    font-family:var(--fuente-monserrate);
    font-size: 24px;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}

.presentacion {
    padding: 6% 15%; /*Primer valor para ancho/ segundo valor para altura */
    display: flex;/*de manera horizontal */
    align-items: center;
    justify-content: space-between;/*Espacio entre contenidos */
}

.presentacion__contenido{
    width: 615px;
    display: flex; /*de manera horizontal*/
    flex-direction: column;/* pero tipo columna */
    gap: 40px; /*Espaciado entre filas y columnas  */
}

.presentacion__contenido__titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.titulo-destaque {
    color:var(--color-terciario) ;
}

.presentacion__contenido__texto{
    font-size: 24px;
    font-family: var(--fuente-monserrate);
}

.presentacion__enlaces_subtitulo{
    font-family: var(--fuente-krona);
    font-size: 24px;
    font-weight: 400px;
}

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__link{
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600; /* grosor de la letra */
    padding: 21.5px 0; /*relleno */
    text-decoration: none;
    color: var(--color-secundario);
    font-family: var(--fuente-monserrate);
    border: 2px solid var(--color-terciario);
}
.presentacion__enlaces__link:hover{
    background-color:var(--color-cuarto);
}
.presentacion__enlaces__link img {
    width: 28px; 
    height: 28px; 
    margin-right: 8px; /* Espacio entre la imagen y el texto */
    vertical-align: middle; /* Alinea verticalmente la imagen con el texto */
    border-radius: 40px;
}

.footer{
    background-color:var(--color-terciario);
    padding: 24px ;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-monserrate);
    font-size: 24px;
    font-weight: 400;
}
.presentacion__contenido__texto a{
    text-decoration: none;
    color: var(--color-terciario);
}